{% extends 'base.html' %}

{% block content %}
{% if list == 'ul' %}
<ul>
    <li>инженер-исследователь</li>
    <li>пилот</li>
    <li>строитель</li>
    <li>экзобиолог</li>
    <li>врач</li>
    <li>инженер по терраформированию</li>
    <li>климатолог</li>
    <li>специалист по радиационной защите</li>
    <li>астрогеолог</li>
    <li>гляцилог</li>
    <li>инженер жизнеобеспечения</li>
    <li>метеоролог</li>
    <li>оператор марсохода</li>
    <li>киберинженер</li>
    <li>штуман</li>
    <li>пилот</li>
</ul>
{% elif list == 'ol' %}
<ol>
    <li>инженер-исследователь</li>
    <li>пилот</li>
    <li>строитель</li>
    <li>экзобиолог</li>
    <li>врач</li>
    <li>инженер по терраформированию</li>
    <li>климатолог</li>
    <li>специалист по радиационной защите</li>
    <li>астрогеолог</li>
    <li>гляцилог</li>
    <li>инженер жизнеобеспечения</li>
    <li>метеоролог</li>
    <li>оператор марсохода</li>
    <li>киберинженер</li>
    <li>штуман</li>
    <li>пилот</li>
</ol>
{% endif %}
{% endblock %}